# Database
DATABASE_URL=mongodb+srv://example_user:password@technology-radar.example.mongodb.net/technology-radar?appName=Technology-Radar

# Auth0
AUTH0_DOMAIN=dev-82m7uo7ptlal3yfw.us.auth0.com
AUTH0_AUDIENCE=https://technology-radar-api
AUTH0_ISSUER=https://dev-82m7uo7ptlal3yfw.us.auth0.com/
AUTH0_JWKS_URI=https://dev-82m7uo7ptlal3yfw.us.auth0.com/.well-known/jwks.json
AUTH0_ROLES_CLAIM=https://technology-radar.com/roles

# App
NODE_ENV=development
PORT=3000